.body {
  background-image: url('furniture2.png');
}
#video {
}
#header {
  position: fixed;
  top: 0;
}
#header-img {
  height: 10%;
  width: 10%;
}
#company-name {
  font-family: 'Dancing Script', cursive;
}
@media screen and (max-width: 600px) {
  #header {
    float: none;
    width: 100%;
  }
}
#container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#nav-bar {

}
