#body-img {
  opacity: .2;
  display: block;
  height: auto;
  width: auto;
}
#header {
  position: fixed;
  top: 0;
}
#header-img {
  height: 10%;
  width: 10%;
}
.nav-link {
  list-style-type: none;
}
